{% extends 'base.html.twig' %}

{% block title %}Créer une soirée{% endblock %}

{% block body %}
    <h1>Créer une soirée</h1>
    {{ form_start(form, { attr: { 'novalidate': 'novalidate', 'data-turbo': 'false' } }) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
    <button type="submit">Créer la soirée</button>
    {{ form_end(form) }}
{% endblock %}