{% extends 'base.html.twig' %}

{% block title %}Créer une soirée{% endblock %}

{% block body %}
    <h1>Créer une soirée</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Créer la soirée</button>
    {{ form_end(form) }}
{% endblock %}