{% extends 'base.html.twig' %}

{% block title %}Hello GlobalController!{% endblock %}

{% block body %}


<div class="example-wrapper">
<h1>Page contact</h1>
<a href="{{ path('app_global') }}">Retour</a>

{{ ux_map(map, {style: 'height: 600px;'}) }}
</div>
{% endblock %}
